body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Helvetica Neue', sans-serif;
}
header {
    height: 100%;
    box-shadow: 0px -1px 0px 0px inset;
    background: rgba(246, 246, 244, 1);

    .header-container{
        display: flex;
        flex-direction: column;
        .input-top{
            position: relative;
            display: flex;
            margin-top: 56px;
            width: 100%;
            justify-content: center;
            align-items: center;
            padding-bottom: 24px;
            height: 100%;
            

            input {
                width: 47%;
                height: 46px;
                border: 1px solid rgba(36, 28, 21, 0.65);
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
            }

            .fa-magnifying-glass{
                position: absolute;
                left: 27.5%;
            }

            .fa-xmark{
                position: absolute;
                right: 28%;
            }

            p {
                position: absolute;
                left: 30%;
            }
        }

        .section-links{
            display: flex;
            align-items: flex-end;
            align-self: center;
            width: 47%;
            color: #241C15A6;
            bottom: 0;
            font-weight: 500;
            font-size: 16px;

            li{
                list-style: none;
                margin-right: 10%;
            }

            .highlight {
                color: #007C89;
                border-bottom: 3px solid #007C89;

                p {
                    margin: 0;
                }
            }

        }
    }
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .main-top {
        width: 47%;
        display: flex;
        justify-content: space-between;
        font-weight: 400;
        font-size: 16px;

        .lang-preference {
            display: flex;
            justify-content: space-between;
            flex-flow: row nowrap;
            width: 40%;
            font-weight: 500;

            .lang{
                color: #007C89;
            }
            
        }

    }

    .articles-container {
        width: 47%;
        display: flex;
        flex-direction: column;
        border-top: 1px solid rgba(36, 28, 21, 0.15);

        .article {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid rgba(36, 28, 21, 0.15);

            .article-content{
                display: flex;
                flex-flow: column wrap;
                
                .article-body{
                    width: 90%;
                    font-weight: 400;
                    font-size: 13px;
                    color: rgba(36, 28, 21, 0.65);
                }
            }
        }

        .results {
            font-weight: 400;
            display: flex;
            align-self: flex-end;
            align-items: center;
            width: 37%;
            justify-content: space-between;

            .fa-chevron-left {
                color: rgba(0, 0, 0, 0.55);
            }
        }
    }

    .support {
        width: 47%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: rgba(246, 246, 244, 1);

        .support-head {
            font-weight: 400;
            font-size: 20px;
            padding-left: 32px;
        }

        .support-body {
            font-weight: 400;
            font-size: 16px;
            padding-left: 32px;
        }

        .support-buttons {
            align-self: flex-start;
            padding-left: 22px;

            button {
                box-shadow: 0px 0px 0px 1px rgba(0, 124, 137, 1) inset;
                border: none;
                border-radius: 37px;
                padding:0 32px;
                margin-left:10px;
                height: 44px;
                color: rgba(0, 124, 137, 1);
            }
             button:hover{
                cursor: pointer;
                background-color: rgba(0, 124, 137, 1);
                color: #ffffff;
             }
        }

    }
    .chat {
        width: 47%;
        display: flex;
        justify-content: center;
       .chat-container {
        display: flex;
        align-self: center;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        width: 66%;

        p{
            color: rgba(36, 28, 21, 0.65);
            font-weight: 400;
            font-size: 16px;
            text-align: center;
        }

        .chat-button {
            width: 53%;
            position: relative;
            .fa-comment-dots{
                position: absolute;
                top: 30%;
                left: 5%;
                color: #ffffff;
            }
            button {
                border: none;
                background: rgba(0, 124, 137, 1);
                color: #ffffff;
                font-size: 13px;
                border-radius:38px;
                padding: 0 32px;
                height: 44px;
            }

            button:hover{
                background: #241C154D;
                color:rgba(0, 124, 137, 1);
                cursor: pointer;
            }

        }
        
       }
       }
    .feedback-text{
        color:rgba(0, 124, 137, 1);
        font-weight: 500;
    }
}